<div class="container">
  <div class="row">
    <h1>blogs from store</h1>
    <ng-container *ngIf="blogs$ | async as blogs">
      <mat-card
        *ngFor="let blog of blogs"
        class="blog"
        [ngClass]="routeAnimationsElements"
      >
        <h2>id: {{ blog.id }} name: {{ blog.name }}</h2>
      </mat-card>
    </ng-container>
    <h1>blogs from service</h1>
    <ng-container *ngIf="blogsFromService$ | async as blogs">
      <mat-card *ngFor="let blog of blogs" [ngClass]="routeAnimationsElements">
        <h2>id: {{ blog.id }} name: {{ blog.name }}</h2>
        <button
          type="button"
          mat-raised-button
          color="accent"
          (click)="deleteBlogById(blog.id)"
        >
          delete
        </button>
        <button
          type="button"
          mat-raised-button
          color="accent"
          (click)="updateBlogById(blog.id)"
        >
          update
        </button>
      </mat-card>
    </ng-container>
  </div>
</div>
